<html>
    <body>
        <form method = 'post' action = '/predict'>
            <!--
            <input type = 'number' name = 'phone' placeholder = 'phone number' required = 'required'>
            <input type = 'email' name = 'email' placeholder = 'email address' required = 'required'>
            <input type = 'name' name = 'name' placeholder = 'full name' required = 'required'>
            -->
            <input type = 'preg' name = 'preg' placeholder = 'preg' required = 'required'>
            <input type = 'glas' name = 'glas' placeholder = 'glas' required = 'required'>
            <input type = 'pres' name = 'pres' placeholder = 'pres' required = 'required'>
            <input type = 'skin' name = 'skin' placeholder = 'skin' required = 'required'>
            <input type = 'test' name = 'test' placeholder = 'test' required = 'required'>
            <input type = 'mass' name = 'mass' placeholder = 'mass' required = 'required'>
            <input type = 'pedi' name = 'pedi' placeholder = 'pedi' required = 'required'>
            <input type = 'age' name = 'age' placeholder = 'age' required = 'required'>
           <button>submit</button>
        {{data}}
        </form>   
    </body>    






</html>    