<html>
    <head>
        <title>google</title>
    </head>
    <body>
        <h1>hellow world</h1>
        <h2>The href Attribute</h2>
        <body style="background-color:powderblue;">
        <h1 style="background-color:powderblue;">This is a heading</h1>
        <p style="background-color:tomato;">This is a paragraph.</p>    

        <p>HTML links are defined with the a tag. The link address is specified in the href attribute:</p>

        <a href="https://www.w3schools.com">Visit W3Schools</a>
        <h2>The src Attribute</h2>
        <p>HTML images are defined with the img tag, and the filename of the image source is specified in the src attribute:</p>

        <img src="img_girl.jpg" width="500" height="600">
        <p>This is a paragraph.</p>
        <p>This is a paragraph.</p>
        <p>This is a paragraph.</p>


    </body>
    
    



</html>